<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__item">

                <div class="footer__copyright">
                    © 2018 «<span class="uppercase-text">LoremIpsum.net</span>» Все права защищены.
                </div>

            </div>
            <div class="footer__item">
                <ul class="footer-list">
                    <li class="footer-list__item footer-list-item">
                        <div class="footer-list-item__wrapper">
                            <div class="footer-list-item__icon">
                                <img src="./images/qiwi.svg" alt="footer-icon">
                            </div>
                            <div class="footer-list-item__description">
                                <span>
                                    <span class="uppercase-text">Qiwi</span> wallet
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="footer-list__item footer-list-item">
                        <div class="footer-list-item__wrapper">
                            <div class="footer-list-item__icon">
                                <img src="./images/yandex.svg" alt="footer-icon">
                            </div>
                            <div class="footer-list-item__description">
                                <span>
                                    Yandex Money
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="footer-list__item footer-list-item">
                        <div class="footer-list-item__wrapper">
                            <div class="footer-list-item__icon">
                                <img src="./images/webmoney.svg" alt="footer-icon">
                            </div>
                            <div class="footer-list-item__description">
                                <span>
                                    Web Money
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer-list">
                    <li class="footer-list__item footer-list-item">
                        <a href="mailto:info@ipsum228.com" class="footer-list-item__wrapper">
                            <div class="footer-list-item__icon">
                                <img src="./images/mailfooter.svg" alt="footer-icon">
                            </div>
                            <div class="footer-list-item__description">
                                <span>
                                    info@ipsum228.com
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="footer-list__item footer-list-item">
                        <a href="https://vk.com/feed" class="footer-list-item__wrapper">
                            <div class="footer-list-item__icon">
                                <img src="./images/vk.svg" alt="footer-icon">
                            </div>
                            <div class="footer-list-item__description">
                                <span>
                                    Мы вконтакте
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="./js/main.min.js"></script>
</body>

</html>