<section class="hero">
    <div class="container">
        <div class="hero__wrapper">

            <div class="hero__title">
                <h1>
                    <span class="_blue-font">Lorem ipsum</span> dolor sit ametconsectetur
                     <span class="_blue-font">adipiscing</span>
                </h1>
            </div>

            <div class="hero__content">
                <p class="_subtitle">
                    At vero eos et accusamus et iusto odio dignissimos ducimus!
                </p>
                <ul>
                    <li>Totam rem aperiam eaque ipsa</li>
                    <li>Sit voluptatem accusantium doloremque laudantium</li>
                    <li>Sed ut perspiciatis, unde omnis iste natus error</li>
                </ul>
            </div>

            <div class="hero__actions">
                <button class="hero__button _blue-button">заказать</button>
                <button class="hero__button _white-button">подробнее</button>
            </div>

        </div>
    </div>
</section>